/*
 * File: _variables.scss
 * Project: georgianstan
 * Version:0.0.1
 * Created Date: Tuesday, October 22nd 2019, 3:41:01 pm
 * Author: Georgian Stan (georgian.stan8@gmail.com)
 * -----
 * Last Modified: Thursday, 9th April 2020 10:31:23 pm
 * Modified By: Georgian Stan (georgian.stan8@gmail.com>)
 */

$white-00: #fff;
$white-01: #f7f7f7;
$white-02: #eeeeee;
$white-03: #ccc;
$white-04: #e1e1e1;

$black-00: #000;

$grey-00: #707070;
$grey-01: #343434;
$grey-02: #898989;

$orange-01: #f8603e;
$orange-02: #ff6511;
$orange-03: #fc6226;

$yellow-01: #dc8100;

$red-01: #ff0000;
$red-02: #c0392b;
$red-03: #e74c3c;
$red-04: #d84315;
$red-05: #fb0b0b;

$green-02: #1abc9c;
$green-03: #2e7d32;
$green-04: #4e9045;
$green-05: #1abc9c;

$blue-02: #3f4f60;
$blue-03: #5084e4;
